.box {
  margin: 0 auto;
  max-width: 1400px;
  padding: 16px;
}

li {
  position: relative;
}

.info {
  margin-top: 16px;
}

.when-posted {
  position: absolute;
  top: 16px;
  right: 13px;
  font-family: 'Proxima Nova Lt';
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.206667px;
  color: #878d9d;
}

.custom-img {
  width: 66px;
  height: 66px;
  margin: 45px 19px 0 16px;
  flex-shrink: 0;
}

.stars {
  padding-top: 3px;
  margin-bottom: 17px;
}

.stars:hover {
  cursor: pointer;
}

@media (max-width: 335px) {
  .stars {
    padding-top: 27px;
    margin-bottom: 10px;
  }
}

.title {
  font-family: 'Proxima Nova Rg';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  max-width: 712px;
  padding-right: 16px;
  color: #3A4562;
  transition-duration: 0.5s;
}

.title:hover {
  background-color: #fff;
  cursor: pointer;
  padding: 7px;
  border-radius: 8px;
}

.department,
.location {
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.23619px;
  color: #878D9D;
}

.department {
  margin-bottom: 8px;
  padding-right: 16px;
}

.location {
  margin-bottom: 27px;
}

.location-mark {
  width: 13px;
  height: 18px;
  margin-right: 8px;
}

.flag-mark {
  display: none;
}

@media (min-width: 1024px) {
 .li {
    background-color: #fff;
 }
 
 .job-list {
  max-width: 1400px;
 }

 .custom-img {
    width: 85px;
    height: 85px;
    margin: 24px 26px 55px 16px;
  }

  .title {
    font-family: 'Proxima Nova Bl';
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
    margin-bottom: 8px;
    max-width: 1100px;
    transition-duration: 0.5s;
  }

  .title:hover {
    cursor: pointer;
    background-color: #e3e4e8;
    color:#384564;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer
  }

  .location {
    margin-bottom: 30px;
  }

  .when-posted {
    position: absolute;
    right: 16px;
    top: 122px;
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
  }

  .stars {
    position: absolute;
    right: 186px;
    top: 73px;
  }
  
  .flag-mark {
    display: block;
    position: absolute;
    right: 24px;
    top: 29px;
  }
}

#map {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 525px;
  width: 100%;
}