.box-detailed {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px 30px 37px;
  max-width: 1400px;
}

.title-detailed,
.title-images,
.title-addinfo {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.413333px;
  margin-bottom: 12px;
  color: #3a4562;
}

.title-addinfo,
.devider-last {
  display: block;
}

.devider {
  width: 100%;
  height: 1px;
  background-color: rgba(58, 69, 98, 1);
  opacity: 0.13;
  margin-bottom: 25px;
}

.save-text,
.share-text {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: rgba(56, 65, 93, 0.82);
}

.detailed-flag {
  display: none;
}

.name-job {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.75px;
  color: #3a4562;
  padding-right: 11px;
  margin-bottom: 5px;
}

.brutto-text {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.82);
  margin-bottom: 4px;
}

.when-posted-detailed {
  position: relative;
  top: 10px;
  display: inline;
  font-family: 'Proxima Nova Lt', sans-serif;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.191905px;
  color: rgba(56, 65, 93, 0.602109);
}

.salary {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #3a4562;
}

.box-salary {
  float: right;
  text-align: right;
  margin-bottom: 14px;
}

.description-job,
.text-responsopilities,
.text-benefits, 
.list-benefits {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.82);
  padding-right: 11px;
}

.description-job {
  margin: 40px 0 43px;
}

.text-responsopilities {
  margin-bottom: 20px;
}

.subtitle-responsopilities,
.subtitle-benefits {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #3a4562;
}

.subtitle-responsopilities {
  margin-bottom: 10px;
}

.subtitle-benefits {
  margin-bottom: 40px;
}

.square-marker {
  display: inline;
  margin-right: 23px;
}


.button {
  display: block;
  margin: 0 auto 135px;
  width: 127px;
  height: 52px;
  font-family: 'Proxima Nova BlLt', sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #384564;
  border-radius: 8px;
  color: #fff;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #e3e4e8;
  color:#384564;
  border: 1px solid #384564;
  cursor: pointer
}

.button-top {
  display: none;
}

.subtitle-addinfo {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.82);
  margin-bottom: 10px;
}

.button-emptype {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.457143px;
  padding-top: 16px;
  color: #55699e;

  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: rgba(161, 177, 219, 0.317343);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.button-emptype:hover {
  cursor: pointer;
}

.button-benefits {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.4px;
  padding-top: 16px;
  color: #988b49;

  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: rgba(255, 207, 0, 0.15);
  border: 1px solid #FFCF00;
  border-radius: 8px;
}

.button-benefits:hover {
  cursor: pointer;
}


.location-marker-sm {
  width: 13px;
  height: 18px;
}

.box-contacts {
  background-color: #2a3047;
  border-radius: 8px;
}

.department-name {
  font-family: 'Proxima Nova Bl', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.23619px;
  color: #e7eaf0;
}

.contacts-address {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: #e7eaf0;
}

.contacts-tel,
.contacts-email {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.669635);
}

.images-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

.arrow {
  position: relative;
  top: 15px;
  left: 15px;
}

.button-return {
  width: 213px;
  height: 50px;
  display: block;
  margin: 89px auto;
}

@media (min-width: 1024px) {
  .box-detailed {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-top: 56px;
    
  }
  
  .title-detailed {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .devider {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    max-width: 723px;
  }

  .box-save {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 250px;
  }

  .name-job {
    grid-column: 1 / 2;
    max-width: 500px;
    margin: 0;
    padding: 0;
  }
  .button {
    grid-column: 1 / 2;
    justify-content: start;
  }

  .box-salary {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    margin: 0 auto;
    height: 7px;
  }

  .brutto-text {
    grid-column: 1 / 3;
    margin: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    max-width: 213px;
    order: 1;
  }

  .salary {
    grid-column: 1 / 3;
    max-width: 213px;
    text-align: left;
  }

  .save-text,
  .share-text {
    grid-column: 1 / 3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3a4562;
  }

  .detailed-star {
    display: none;
  }

  .detailed-flag {
    display: block;
    margin-right: 16px;
    width: 16px;
    height: 20px;
  }
  
  .when-posted-detailed {
    grid-column: 1 / 3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.355988);
    top: 5px;
  }

  .description-job,
  .text-responsopilities,
  .text-benefits, 
  .list-benefits {
    grid-column: 1 / 3;
    font-family: 'Roboto', sans-serif;
    color: #3a4562;
    max-width: 721px;
    padding-right: 0;
  }

  .description-job {
    grid-column: 1 / 3;
    margin: 15px 0 33px;
  }

  .text-responsopilities {
    grid-column: 1 / 3;
    margin-bottom: 40px;
  }

  .subtitle-benefits {
    grid-column: 1 / 3;
    margin-bottom: 10px;
  }

  .subtitle-responsopilities {
    grid-column: 1 / 3;
    margin-bottom: 10px;
  }

  .square-marker {
    margin-right: 9px;
  }

  .list-benefits{
    grid-column: 1 / 2;
    grid-row: 10 / 11;
    justify-content: flex-start;
    max-width: 500px;
  }

  .button-bottom {
    grid-column: 1 / 2;
    grid-row: 11 / 12 ;
    display: block;
    margin: 10px 0 86px;
  }

  .button-top {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
    margin: 39px 0 32px;
  }

  .images-container {
    grid-column: 1 / 4;
    justify-content: left;
   }
   .images-box {
    justify-content: left;
   }
  
  .addinfo-container {
    grid-column: 1 / 3;
    grid-row: 12 / 13;
  }

  .box-employment,
  .box-benefits {
    grid-column: 1 / 3;
  }

  .subtitle-addinfo {
    grid-column: 1 / 3;
    font-family: 'Roboto', sans-serif;
  }

  .box-contacts {
    grid-column: 3 / 5;
    grid-row: 1 / 8;
  }

  .devider-last,
  .title-addinfo-contacts {
    display: none;
  }

  .button-return {
    grid-column: 1 / 2;
    width: 213px;
    height: 50px;
    display: block;
    margin: 89px 0 150px;
  }
}
